.filter {

    display: grid;
    grid-template-columns: 10fr 3.5fr;
    /* grid-template-rows: 1fr 1fr 1fr; */


    /* display: flex; */
    /* justify-content: space-around; */
    /* padding-bottom: 7px; */

}

.globalSelect {
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
}

.select {
    padding: 0px 5px;
    margin: 5px;
    background-color: bisque;
}

.submit {
    padding: 0px 15px;
    margin: 5px 0px;
}